@import"../components/variables";
@import"../components/mixins";

main{
    .container-fluid{
        .row{
            h1{
                @include encabezados;
            }
        }
        section{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .carousel{
                width: 55%;
                .carousel-inner{
                    .carousel-item{
                        div{
                            p{
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
            form{
                background-color: $color-secundario;
                width: 43%;
                margin-top: 0;
                margin-bottom: 15px;
                margin-right: 15px;
                fieldset{
                    legend{
                        @include h3;
                    }
                    div{
                        label{
                            color: $color-ppal;
                            font-family: 'Roboto', sans-serif;
                            font-size: 18px;
                        }
                        input{
                            color: black;
                            width: 75%;
                            background-color: $color-ppal;
                            border: 2px solid $color-terciario;
                            border-radius: 5px;
                        }
                        select{
                            background-color: $color-ppal;
                            border-radius: 5px;
                            option{
                                color: black;
                                width: 68%;
                                background-color: $color-ppal;
                            }
                        }
                        .op1{
                            width: 10%;
                        }
                        p{
                            display: inline-block;
                            color: $color-ppal;
                            font-family: 'Roboto', sans-serif;
                            font-size: 16px;
                        }
                        .boton-form{
                            width: 130px;
                            border: 2px solid $color-terciario;
                            border-radius: 12px;
                            margin-bottom: 5px;
                        }
                    }    
                }
            }
        }
        div{
            .section-div{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                .cuadro{
                    @include cuadro;
                    width: 49%;
                    height: auto;
                    margin: 10px 4px 25px 4px;
                    padding-top: 14px;
                    h2{
                        @include h2;    
                    }
                }
            }
        }
    }
}